{% extends "partials/base.html" %}

{% set page = "Home" %}

{% block content %}
	<div class="inner cover">
    <h1 class="cover-heading"><img src="images/sqlfluff-wide.png" alt="sqlfluff"/><br>📜 The SQL Linter for humans.</h1>
    <a href="https://pypi.org/project/sqlfluff/">
      <img alt="PyPI - Downloads" src="https://img.shields.io/pypi/dm/sqlfluff?logo=pypi&style=flat-square">
    </a>
    <a href="https://pypi.org/project/sqlfluff/">
      <img alt="PyPI" src="https://img.shields.io/pypi/v/sqlfluff?logo=pypi&style=flat-square">
    </a>
    <a href="https://github.com/sqlfluff/sqlfluff">
      <img alt="GitHub" src="https://img.shields.io/github/license/sqlfluff/sqlfluff?style=flat-square">
    </a>
    <a href="https://github.com/sqlfluff/sqlfluff">
      <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/sqlfluff/sqlfluff?logo=github&style=flat-square">
    </a>
  </div>
  <hr>
  <div class="container">
    <p>
      <b>SQLFluff</b> is a dialect-flexible and configurable SQL linter.
      Designed with ELT applications in mind, <b>SQLFluff</b> also works with
      Jinja templating and dbt. <b>SQLFluff</b> will auto-fix most linting
      errors, allowing you to focus your time on what matters.
    </p>
  </div>
  <hr>
  <div class="flex-container">
    <div>
      <h3>Lint 🧼</h3>
      <p>
        <b>SQLFluff</b> finds issues with your SQL code and reports them back
        to you (and your team) automatically so that your code reviews can be
        more about function and less about form.
      </p>
    </div>
    <div>
      <h3>Fix 🛠️</h3>
      <p>
        <b>SQLFluff</b> saves time by fixing linting issues found in your code
        to save you time, and make it easy to have consistent and legible SQL.
      </p>
    </div>
    <div>
      <h3>Parse 📜</h3>
      <p>
        <b>SQLFluff</b> parses your SQL to catch a range of syntax issues without
        needing access to the database, so you can catch mistakes earlier in your
        development process.
      </p>
    </div>
    <div>
      <h3>Configure ⚙️</h3>
      <p>
        <b>SQLFluff</b> is configurable to work with a range of SQL dialects and
        style choices. It has opinionated defaults, so you can get going easily,
        but a range of flexible configuration options to fit your local style.
      </p>
    </div>
  </div>
  <hr>
  <div class="container">
    <h2>Getting Started</h2>
    <p>
      You can get started with <b>SQLFluff</b> in your project today by
      downloading it from <a href="https://pypi.org/project/sqlfluff/">pypi</a>
      using <a href="https://pip.pypa.io/">pip</a> (or your favourite python
      package manager). For more details, check out <a href="https://docs.sqlfluff.com">the docs</a>.
    </p>
  </div>
  <div class="container front-codeblock">
        <pre><code class="language-sqlfluff">$ pip install sqlfluff
$ echo "  SELECT a  +  b FROM tbl;  " > test.sql
$ sqlfluff lint test.sql --dialect ansi
== [test.sql] FAIL
L:   1 | P:   1 | LT01 | Expected only single space before 'SELECT' keyword.
                       | Found '  '. [layout.spacing]
L:   1 | P:   1 | LT02 | First line should not be indented.
                       | [layout.indent]
L:   1 | P:   1 | LT13 | Files must not begin with newlines or whitespace.
                       | [layout.start_of_file]
L:   1 | P:  11 | LT01 | Expected only single space before binary operator '+'.
                       | Found '  '. [layout.spacing]
L:   1 | P:  14 | LT01 | Expected only single space before naked identifier.
                       | Found '  '. [layout.spacing]
L:   1 | P:  27 | LT01 | Unnecessary trailing whitespace at end of file.
                       | [layout.spacing]
L:   1 | P:  27 | LT12 | Files must end with a single trailing newline.
                       | [layout.end_of_file]
All Finished 📜 🎉!
</code></pre>
    <hr>
  </div>
  <div class="container">
    <h2>Sponsors</h2>
    <p>
      <b>SQLFluff</b> is a community run, and community funded, project. We're
      grateful to individuals and organisations in the community who choose to
      support the project. If you'd like to support the project with your
      <b>time</b>, then head over to our <a href="https://github.com/sqlfluff/sqlfluff">GitHub repository</a>
      and check out our <a href="https://github.com/sqlfluff/sqlfluff/blob/main/CONTRIBUTING.md">contributing guide</a>.
      If you are better able to support the project with <b>funds</b>, then
      you can find our sponsorship page on <a href="https://github.com/sponsors/sqlfluff">GitHub sponsors</a>.
    </p>
    <h3>Sponsoring Organisations</h3>
    <div class="flex-container">
      <div>
        <a href="https://datacoves.com/">
          <img src="images/sponsors/datacoves.png"/>
        </a>
        <p>
          The turnkey analytics stack, find out more at <a href="https://datacoves.com/">Datacoves.com</a>.
        </p>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}
