{% extends "partials/base.html" %}

{% set page = "Home" %}

{% block content %}
	<div class="inner cover">
    <h1 class="cover-heading"><img src="images/sqlfluff-wide.png" alt="sqlfluff"/><br>📜 The SQL Linter for humans.</h1>
  </div>
  <hr>
  <div class="container front-codeblock">
        <pre><code class="language-sql line-numbers">SELECT
  this_column,
  my_table.THAT_COLUMN AS this_name,
  some_number *10 AS a_bigger_number
from my_table
</code></pre>
        <pre><code class="language-sqlfluff">$ sqlfluff lint test.sql
== [test.sql] FAIL
L:   3 | P:   5 | L028 | Qualified reference 'my_table.THAT_COLUMN'
                       | found in a single table select this is
                       | inconsistent with previous references.
L:   3 | P:  14 | L014 | Inconsistent capitalisation of unquoted
                       | identifiers.
L:   4 | P:  18 | L006 | Operators should be followed by a space.</code></pre>
  </div>


{% endblock %}
