<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="sqlfluff,sql,linter" />
  <meta name="description" content="📜 The SQL Linter for humans"/>
  <meta name="author" content="designingoverload.com">
  <meta name="copyright" content="Copyright 2020: designingoverload.com" />
  <meta name="robots" content="index,follow" />
  <meta name="flattr:id" content="70k6l0">

  <title>SQLFluff</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fontawesome for icons -->
  <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/prism.css" rel="stylesheet">
  <link href="css/sqlfluff.css" rel="stylesheet">

  <!-- Nav Bar Icon -->
  <link rel="icon" type="image/png" href="images/icons/favicon-fluff.png">

</head>

<body>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <a href="/"><img src="/images/sqlfluff-wide.png" class="masthead-brand"></a>
            <nav>
              <ul class="nav masthead-nav">
                {% for pg in [
                  ["Home", "/", ""],
                  ["Source", "https://github.com/sqlfluff/sqlfluff", "images/icons/github.svg"],
                  ["Docs", "https://docs.sqlfluff.com", "images/icons/readthedocs.svg"],
                  ["Blog", "https://designingoverload.com?utm_source=sqlfluff_header", "images/icons/overload-lrg-blk-ico.png"]]
                %}
                  <li {% if pg[0] == page %}class="active"{% endif %}>
                    <a href="{{pg[1]}}">{% if pg[2] %}<img src="{{pg[2]}}" />{% endif %}{{pg[0]}}
                      {% if pg[0] == page %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page Content -->
        {% block content %}{% endblock %}
        <!-- /.container -->

        <footer class="mastfoot">
          <div class="inner">
            <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, originally by <a href="https://twitter.com/mdo">@mdo</a>, adapted by <a href="http://www.amshank.com">Amshank</a>.</p>
            <a href="https://designingoverload.com?utm_source=sqlfluff_footer"><img src="images/overload-lrg-blk.png" width=100/></a>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Upgrade to https if http -->
  <script type="text/javascript">
    //if (location.protocol !== 'https:' && location.hostname !== "localhost") {
    //  location.replace(`https:${location.href.substring(location.protocol.length)}`);
    //}
  </script>
  <!-- Prism core JavaScript -->
  <script src="js/prism.js" type="text/javascript"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
