<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="sqlfluff,sql,linter" />
  <meta name="description" content="📜 The SQL Linter for humans"/>
  <meta name="author" content="designingoverload.com">
  <meta name="copyright" content="Copyright 2020: designingoverload.com" />
  <meta name="robots" content="index,follow" />

  <title>sqlfluff</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fontawesome for icons -->
  <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sqlfluff.css" rel="stylesheet">

  <!-- Nav Bar Icon -->
  <link rel="icon" type="image/png" href="images/favicon-fluff.png">

</head>

<body>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <a href="/"><img src="/images/sqlfluff-wide.png" class="masthead-brand"></a>
            <!--<h3 class="masthead-brand">Amshank</h3>-->
            <nav>
              <ul class="nav masthead-nav">
                {% for pg in [["Home", "/"], ["Blog", "https://designingoverload.com?utm_source=amshank_header"]] %}
                  {% if pg[0] == page %}
                  <li class="active">
                    <a href="{{pg[1]}}">{{pg[0]}}
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{{pg[1]}}">{{pg[0]}}</a>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page Content -->
        {% block content %}{% endblock %}
        <!-- /.container -->

        <footer class="mastfoot">
          <div class="inner">
            <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, originally by <a href="https://twitter.com/mdo">@mdo</a>, adapted by <a href="http://www.amshank.com">Amshank</a>.</p>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Upgrade to https if http -->
  <script type="text/javascript">
    //if (location.protocol !== 'https:' && location.hostname !== "localhost") {
    //  location.replace(`https:${location.href.substring(location.protocol.length)}`);
    //}
  </script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
